@charset "UTF-8";

body{
    background-color: rgb(122, 248, 248);
}
#principal{
    text-align: center;
    color: blue;
    text-decoration: underline;
}
h1{
    text-align: left;
    color: rgb(2, 62, 112);
}
h2{
    color: rgb(3, 236, 3);
}
p{
    text-align: justify;
    color: rgb(0, 41, 27);
    font-weight: bolder;
}
ul{
    color: rgb(241, 7, 85);
}
.basico{
    color: rgb(23, 199, 7);
}
.intermediario{
    color: rgb(209, 206, 7);
}
.avancado{
    color: red;
}